<div class="jumbotron front-jumbo">
  <div class="container">

    <div class="page-header front-header">
      <h1> Cook your Craving <br><br><small> Craving Chinese? Got the Munchies for Mexican? This is your place.</small></h1>
    </div>

  </div>
</div>

<div class="container info-background">
  <div class="page-info">
    <div class="row">
      <div class="col-sm-4 info-item">
        <h2><span class="glyphicon glyphicon-search info-icon"></span></h2>
        <h2> Recipes by Cuisine</h2>
        <p>
          Everyone gets a random craving for a certain type of food.
          Our site sorts all our recipes by cuisine, so if you're just,
          yearning for Italian, or have a desire for Asian, you can
          easily find them here.
        </p>
      </div>
      <div class="col-sm-4 info-item middle-info">
        <h2><span class="glyphicon glyphicon-upload info-icon"></span></h2>
        <h2> Share Recipes </h2>
        <p> This site thrives on users sharing their own recipes.
          Our forms allow for an easy and simple experience of adding
          your recipes. We encourage you to share any recipes that
          you feel that the community could benefit from.
        </p>
      </div>
      <div class="col-sm-4 info-item">
        <h2><span class="glyphicon glyphicon-ok info-icon"></span></h2>
        <h2> Leave Reviews </h2>
        <p> Leave a review. Did you like a recipe? Easily give it a rating
          and leave some feedback. Think a recipe could be improved? Let
          the author know your thoughts.
        </p>
      </div>

    </div>
  </div>
</div>
