<div class="container">
  <h2>Select an Ethnicity</h2>
<% foodCategories.forEach((someFood) => { %>
  <div class="panel panel-default list-panel">
    <a href="#0">
      <h4><%=someFood%>-(24)</h4>
    </a>
  </div>
<%});%>

</div>
