$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$theme-color: #91d6ba;
$theme-outline: #7accaa;

html, body {
  height: 100%;
}

.navbar {
  border-radius: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #282828;
  background-color: #dddddd;
  font-size: 16px;
  background-color: #ffffff;
background-image: url("../images/textured.png");

}

a {
  color: #255682;
}

.navbar-brand {
  font-size: 2em;
  font-weight: bolder;
}

a:hover {
  text-decoration: none;
}

.list-panel {
  margin-bottom: 0;
  padding: 5px 15px;
  list-style: none;
  font-size: 25px;
}

.front-jumbo {
  margin: 0;
  padding: 100px 0;
  background: linear-gradient(
      rgba(160, 160, 160, 0.45),
      rgba(160, 160, 160, 0.45)
    ),
    /* bottom, image */
    url('../images/food-head.jpeg');
  background-size: cover;
  box-shadow: $shadow;
  padding-bottom: 100px;
}

.navbar {
  margin-bottom: 0;
}

.front-header {
  color: #212121;
  border-bottom-color: #282828;
  font-family: 'Rubik', sans-serif;
  h1 {
    font-weight: bold;
  }
  small {
    color: #212121;
    font-size: 55%;
  }
}

.info-background {
  padding: 10px;
  text-align:  center;
  margin: 20px auto;
  border-radius: 5px;

  background-color: transparent;
}

.info-item {
  box-sizing: border-box;
  padding: 20px;
}

.middle-info {
  border-left: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
}

.info-icon {
  font-size: 65px;
  font-weight: lighter;
}

// =============================== List Page

.list-bg {
  background-image: url('../images/foodpic.jpeg');
  background-size: cover;
  background-position: center, center;
  padding: 20px 0;
}

.search-btn {
  display: inline;
  width: 100px;
}

.search-box {
  width: 50%;
  display: inline-block;
  margin-bottom: 20px;
}

.background-list {
  background-color: rgba(238, 238, 238, 0.9);
  border-radius: 3px;
  h2 {
    color: #282828;
  }
  padding-bottom: 10px;

}

.list-item:hover {
  .panel-default {
      background-color: #f4f4f4;
  }
}


.add-new-link {
  font-size: 1.2em;
  display: inline-block;
  margin-bottom: 15px;
}
// ====================
.sign-up-container {

  text-align: center;
  border-radius: 3px;
  margin: 0 auto;
  display:block;
  background-color: white;
  padding: 10px 30px;
  width: 100%;
  max-width: 500px;
  box-shadow: $shadow;
  h2 {
    text-decoration: underline;
    margin-bottom: 20px;
  }
}

.sign-up-content {
  text-align: center;
}

.sign-up-body {
  background: linear-gradient(
      rgba(160, 160, 160, 0.45),
      rgba(160, 160, 160, 0.45)
    ),
    /* bottom, image */
    url('../images/signup-pic.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.sign-up-header {
  h2 {
    color: #f7f7f7;
    text-decoration: none;
    margin: 0;
  }
  background-color: #282828;
  text-align: center;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 10px 10px;
  margin: 0 auto;
  margin-top: 70px;
}

.sign-up-form {
  background-color: #eeeeee;
  padding-top: 20px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  .sign-up-link {
    font-size: 1.2em;
  }
  hr {
    border-color: #969696;

  }
  .input-group-addon {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #303030;
  }
  input {
    border: none;
    box-shadow: none;
    background-color: transparent;
    border-bottom: 1px solid #222222;
    border-radius: 0;
    width: 80%;
    margin: 0 auto;
  }
  input:focus {
    box-shadow: none;
  }
  .input-group-lg>.form-control {
    border-radius: 0;
  }
  .input-group {
    width: 80%;
    line-height: 1;
    margin: 0 auto;
    border-radius: 0;
  }
  button, .btn {
    width: 50%;
    background-color: #282828;
    color: #f7f7f7;
  }

}

//========================

.login-body {
  background: linear-gradient(
      rgba(160, 160, 160, 0.45),
      rgba(160, 160, 160, 0.45)
    ),
    /* bottom, image */
    url('../images/Greekstock.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

// ======================= Google and Facebook buttons
/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  margin-top: 20px;
  display: inline-block;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;

}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('/images/facebook-btn-img.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  color: white;
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('/images/google-btn-img.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  color: white;
  background: #E74B37;
}
// ======================

.foodsnippet {
  padding: 10px 15px;
  border-radius: 2px;
  margin: 10px 6%;
  max-width: 400px;
  vertical-align: middle;
  height: 450px;
  background-color: white;
  box-shadow: $shadow;
  h3 {
    margin-top: 15px;
  }
  hr {
    margin: 0;
  }
  .recipeImage {
    width: 100%;
    max-width: 360px;
    display: block;
    margin: 0 auto;
    height: 230px;
    border: 2px solid #d6d6d6;
  }
}



//==================== FORM for New Recipe
.recipe-form-container {
  margin: 20px auto;
  padding: 0 50px 10px 50px;
  color: #303030;
  border-radius: 8px;
  h2 {
    text-decoration: underline;
  }
  .text-input {
    background-color: transparent;
    border: 1.2px  solid #303030;
    border-radius: 0;
    box-shadow: none;
  }
  textarea {
    border: 1.2px solid #303030;
    background-color: transparent;
  }
  hr {
    border-color: #444444;
    border-style: dashed;
    margin: 20px -50px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.new-title {
  background-color: red !important;
}

.recipe-new-body {
  background: url('../images/new-background.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.form-horizontal .input-padding {
  margin-right: 10px !important;
}


.validation-error {
  color: red;
}

.display-name-body {
  background-image: url('../images/worldpic.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ingredients-list li{
  // display: inline-block;
  // width: 45%;
  list-style:circle;
}

.time-input {
  .form-control {
    width: 70px;
    display: inline;
    margin-left: 15px;
    text-align: right;
  }
  p {
    display: inline;
  }
}
//=====================
.profile-picture {
  width: 95%;
  max-width: 350px;
  height: 250px;
  margin: 10px auto;
  border: 2px solid black;
}

.new-recipe {
  display: inline-block;
  font-size: 1.3em;
  padding-top: 10px;
}



.profile-info {
  h2 {
    margin: 0;

  }
  a {
    display: block;
  }
  text-align: center;
  background-color: #f7f7f7;
  padding: 10px;
  box-shadow: $shadow;
}

.profile-recipes {
  text-align: center;
}

.profile-page {
  padding: 20px;
  margin: 30px auto;
}

//======

.dropdown {
  button {
    width: 100%;
  }
  .dropdown-menu {
    width: 100%;
  }
}

// ======

.times {
  display: inline-block;
  margin-right: 50px;
}

.details {
  margin: 20px auto 20px auto;
  box-shadow: $shadow;
  background-color: rgba(238, 238, 238, 0.7);
  h2 {
    text-decoration: underline;
  }
}

.bookmark-btn {
  margin-bottom: 10px;
}

.details img {
  width: 80%;
  max-height: 350px;
  border: 2px solid black;
  box-shadow: $shadow;
}

.direction-list {
  background-color: white;
  border: 1.2px solid black;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: $shadow;
}

#upload-recipe-btn {
  margin-top: 10px;
}

.col-content {
  margin: 20px;
}

.review-button {
  color: #f7f7f7;
  background-color: #282828;
  border-radius: 2px;
}

.modal-content {
  border-radius: 3px;
}

.review-button:hover, .review-button:focus {
  color: #f7f7f7;
}

span.stars, span.stars span {
    display: inline-block;
    background: url('../images/star.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.details-body {
  background-color: #ffffff;
background-image: url("../images/textured.png");
}
//===========
.recipe-list {
  margin: 20px auto;
  box-shadow: $shadow;
  h2 {
    color: #f7f7f7;
  }
  background-color: #282828;
}

.recipe-list-main {
  background-color: transparent;
  box-shadow: none;
}

.glyphicon-bookmark {
  color: red;
}

// Review ===========
.review-body {
  padding: 10px 40px;
  select {
    width: 20%;
  }
}

.review-list {
  h2 {
    text-decoration: underline;
  }
  hr {
    margin: 5px;
    border-color: #b5b3b3;
  }
}

.review-info {
  display: block;
  padding: 5px 10px;
  margin: 20px 10px;
  border-radius: 3px;
  width: 60%;
  background-color: white;
  h4 {
    font-size: 1.2em;
  }
  h5 {
    text-decoration: underline;
  }
}
// ========= LET'S GET STARTED =====
.intro-container {
  background-color: white;
  width: 100%;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 200;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 50px;
  h2 {
    background-color: #222222;
    color: white;
    padding: 10px 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  h3 {
    font-size: 2em;
    margin: 40px 0;
  }
  .btn-default {
    background-color: #222222;
    color: white;
  }
}

.intro-content {
  margin: 10px;
  padding-bottom: 10px;
}

@media (max-width: 700px) {
  .foodsnippet {
    display: block;
    margin: 0 auto;
  }
  .review-info {
    width: 100%;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .foodsnippet {
    margin: 10px 3%;
  }
}
