<div class='sign-up-content'>

  <div class='sign-up-header sign-up-container'>
    <h2> Add a Display Name! </h2>
  </div>

  <div class='sign-up-container sign-up-form'>
    <% if (typeof errorMessage === 'string') { %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
        <%= errorMessage %>
    </div>
    <% } %>
    <form action="/displayname" method="post" class="form-horizontal">


      <div class="form-group">
        <input type="text" class="form-control" name="displayName" placeholder="Display Name">
      </div>

      <div class="form-group">
        <button class="btn btn-default btn-lg"> Continue </button>
      </div>
    </form>
  </div>

</div>
