<div class='sign-up-content'>

  <div class='sign-up-header sign-up-container'>
    <h2> Log-in </h2>
  </div>

  <div class='sign-up-container sign-up-form'>

    <% if (typeof errorMessage === 'string') { %>
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
          <%= errorMessage %>
      </div>
    <% } %>

    <form action="/login" method="post" class="form-horizontal">

      <div class="form-group">
        <label> Username </label>
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" name="loginUsername" placeholder="Username">
          <span class="input-group-addon"><i class="fa fa-id-card-o fa-fw"></i></span>
        </div>
      </div>

      <div class="form-group">
        <label> Password </label>
        <div class="input-group input-group-lg">
          <input type="password" name="loginPassword" placeholder="Password" class="form-control">
          <span class="input-group-addon"><i class="fa fa-lock fa-fw" aria-hidden="true"></i></span>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-default btn-lg"> Login! </button>
      </div>




        <a href="/auth/facebook" class="loginBtn loginBtn--facebook">
          Login with Facebook
        </a>

        <a href="/auth/google" class="loginBtn loginBtn--google">
          Login with Google
        </a>

      <hr>

      <h3> No Account? Sign up here! </h3>

      <a class="sign-up-link" href="/sign-up"> Sign up here </a>

    </form>


  </div>

</div>
