<div  class='intro-container'>
  <h2> Let's get started </h2>

  <div class='intro-content'>
  <h3> Got a recipe you want to share? </h3>
  <a class="btn btn-default btn-lg" href="/recipes/new"> Add a Recipe</a>

  <hr>

  <h3> Or start browsing recipes! </h3>
  <a class="btn btn-default btn-lg" href="/recipes"> Browse Recipes </a>
</div>
</div>
