<div class="list-bg">

  <div class="container background-list">
    <h2>Select an Ethnicity</h2>

    <% if(isUserLogged) { %>
      <a href="/recipes/new" class="add-new-link"> + Add a new recipe </a>
    <% } %>

      <form class="form" action="/recipes/search" method="get">
        <label for="search-input"> Search for a Recipe: </label><br>
        <input type="text" class="form-control search-box" name="searchValue" id="search-input">
        <button class="btn review-button search-btn" > Search </button>
      </form>

      <% foodCategories.forEach((someFood) => { %>
        <a href="/recipes/<%=someFood%>" class="list-item">
          <div class="panel panel-default list-panel">
            <h4><%=someFood%></h4>
          </div>
        </a>
      <%});%>
    </div>
</div>
